[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
testcontainers = "*"
pytest = "*"
psycopg2-binary = "*"
pre-commit = "*"
mypy = "*"
sqlalchemy = {extras = ["mypy"], version = "*"}
pydantic = "*"
pytest-regressions = "*"
pandas = "*"
pandas-stubs = "*"
pytest-cov = "*"
python-telegram-bot = "*"
pytest-asyncio = "*"
pydantic-settings = "*"
pgcli = "*"
alembic = "*"
typer = "*"

[dev-packages]

[requires]
python_version = "3.13"
